.casestudiescard-container {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  padding: 4.375rem 3.75rem;
  border-radius: 2.8125rem;
  background-color: black;
  color: white;

  .card-item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @media screen and (max-width: 425px) {
      background-color: black;
      border-radius: 2.8125rem;

      padding: 2.625rem 3.125rem;
    }
  }

  @media screen and (max-width: 425px) {
    background-color: transparent;
    flex-direction: column;
    padding: 0;
    gap: 1.25rem;

    hr {
      display: none;
    }
  }
}
