.menu-burger {
  display: none;
  flex-direction: column;
  gap: 0.5rem;

  .dash {
    width: 1.5rem;
    height: 0.125rem;
    background-color: 50%;
    background-color: black;
  }

  @media screen and (max-width: 425px) {
    display: flex;
  }
}
