.card {
  width: 37.5rem;
  padding: 3.125rem;
  border: 1px solid black;
  border-radius: 2.8125rem;

  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.3125rem var(--dark);

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14rem;

    @media screen and (max-width: 425px) {
      width: auto;
      gap: 1.6875rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 0 0.4375rem;
    border-radius: 0.4375rem;
  }

  @media screen and (max-width: 425px) {
    width: 24.375rem;
    padding: 3.125rem;

    p {
      display: none;
    }

    .card-illustration {
      display: none;
    }

    img {
      height: 8rem;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
