.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 100%;
  z-index: 1;
}

.rotated {
  transform: rotate(-30deg);
}

svg {
  z-index: 2;
}

.black {
  background-color: black;
}

.green {
  background-color: var(--green);
}

.white {
  background-color: white;
}
