.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-navbar {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
