.bigcard {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 6.25rem;
  background-color: var(--gray);
  padding: 3.75rem;
  border-radius: 2.8125rem;

  .bigcard-content {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;

    button {
      width: fit-content;

      @media screen and (max-width: 425px) {
        width: auto;
      }
    }
  }

  img {
    position: absolute;
    right: 8.4375rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 3.125rem;
  }
}
