main {
  display: flex;
  flex-direction: column;
  gap: 8.75rem;

  @media screen and (max-width: 425px) {
    gap: 3.75rem;
  }

  section {
    margin: 3.75rem 6.25rem 0 6.25rem;

    @media screen and (max-width: 425px) {
      margin: 1.875rem 1.25rem 0 1.25rem;
    }
  }

  footer {
    margin: 3.75rem 6.25rem 0 6.25rem;

    @media screen and (max-width: 425px) {
      margin: 0;
    }
  }
}
