@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
  font-weight: 300;
}
:root {
  --green: #b9ff66;
  --dark: #191a23;
  --gray: #f3f3f3;
}
html {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 3.75em;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.25rem;
}
p {
  font-size: 1.125rem;
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 2.6875rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.625rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }
}

.bc-green {
  background-color: var(--green);
}

.bc-black {
  background-color: black;
}

.bc-gray {
  background-color: var(--gray);
}

.bc-white {
  background-color: #fff;
}
