.slide {
  width: 37.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  .bubble {
    position: relative;

    padding: 3rem 3.25rem;
    border: 1px solid var(--green);
    border-radius: 2.8125rem;
  }

  .info {
    padding-left: 5rem;
    h4 {
      color: var(--green);
    }
  }
}
